@using DentistSpace.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-4 card-panel">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s12 center">
                    @*<img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">*@
                    <h4>@ViewBag.Title</h4>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    @Html.TextBoxFor(m => m.Username)
                    @Html.LabelFor(m => m.Username, new { @class = "center-align" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "red" })
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    @Html.PasswordFor(m => m.Password)
                    @Html.LabelFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red" })
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" value="Login" class="btn waves-effect waves-light col s6 offset-s3" />
                </div>
            </div>
        }
        <div class="row">
            <div class="input-field col s6 offset-s3 m6 l6">
                <p class="margin medium-small">
                    @Html.ActionLink("Register Now!", "Register")
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3 m6 l6">
                <a href="/Account/ForgotPassword">Forgot password ?</a>
            </div>
        </div>
        @*<div class="row">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}