@model DentistSpace.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-4 card-panel">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "validate" })
            <div class="row">
                <div class="input-field col s12 center">
                    <h4>@ViewBag.Title</h4>
                    <p class="center">Join to our community now !</p>
                </div>
            </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                          @Html.TextBoxFor(m => m.Username, new {@class= "validate" })
                        @Html.LabelFor(m => m.Username, new { @class = "center-align"})
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "red" })
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.LabelFor(m => m.Email, new { @class = "center-align" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red" })
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        @Html.PasswordFor(m => m.Password)
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red" })
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" class="btn waves-effect waves-light col s12" value="Register" />
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">Already have an account? <a href="/Account/Login">Login</a></p>
                    </div>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <h4>Create a new account.</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
