<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    <script>
        (window.jQuery || document.write('<script src="/scripts/jquery-1.10.2.min.js"><\/script>'));
    </script>
    @RenderSection("kendoScripts", required: false)
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                @Html.Partial("_LoginPartial")
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    @if (User.IsInRole(DentistSpace.Common.Roles.User))
                    {
                        <li>@Html.ActionLink("Patient request", "Index", "Request", new { area = "Patients" }, null)</li>
                    }
                    @if (User.IsInRole(DentistSpace.Common.Roles.Dentist))
                    {
                        <li>@Html.ActionLink("Patient requests", "Requests", "Patients", new { area = "Dentists" }, null)</li>
                    }
                </ul>
                <ul class="side-nav" id="mobile">
                    @if (User.IsInRole(DentistSpace.Common.Roles.User))
                    {
                        <li>@Html.ActionLink("Patient request", "Index", "Request", new { area = "Patients" }, null)</li>
                    }
                    @if (User.IsInRole(DentistSpace.Common.Roles.Dentist))
                    {
                        <li>@Html.ActionLink("Patient requests", "Requests", "Patients", new { area = "Dentists" }, null)</li>
                    }
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @Html.Action("GetMainBanner", "Banner", new { area = "" })
        @RenderBody()
        @Html.Action("GetBottomBanner", "Banner", new { area = "" })
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dentists app</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jqueryval")
    <script>
        ($.validator || document.write('<script src="/scripts/jquery.validate.min.js"><\/script>'));
    </script>
    @Scripts.Render("~/bundles/jqunobtrusive")
    <script>
        ($.validator.unobtrusive || document.write('<script src="/scripts/jquery.validate.unobtrusive.min.js"><\/script>'));
    </script>

    @Scripts.Render("~/bundles/modernizr")
    <script>
        (window.Modernizr || document.write('<script src="/scripts/modernizr-2.6.2.js"><\/script>'));
    </script>
    @Scripts.Render("~/bundles/respond")
    <script>
        (window.matchMedia || document.write('<script src="/scripts/respond.js"><\/script>'));
    </script>

    @Scripts.Render("~/bundles/materialize")
    <script>
        (Materialize || document.write('<script src="/scripts/materialize.min.js"><\/script>'))
    </script>

    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
    </script>
</body>
</html>
